main {
    width: initial !important;
    margin-top: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 147px);
    font-family: Verdana;
}

body {
    width: 100%;
    height: -moz-fit-content;
}

/*#region Conteudo principal*/

#divInserirAtendimentoIndex_Container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*#endregion Conteudo principal*/

/*#region Filtros*/

.cssInserirAtendimentoIndex_Filtro {
    width: 95%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #B7A5A5;
    border-top: 1px solid #B7A5A5;
    margin: auto;
    /*margin-bottom: 30px;*/
    cursor: pointer;
    transition: background-color 500ms;
}

.cssInserirAtendimentoIndex_Filtro:active{
    background-color: #C0C0C0;
}

.cssInserirAtendimentoIndex_Label {
    width: 50px;
    color: #B7A5A5;
    font-weight: 600;
    padding: 3px 0;
}

#btnInserirAtendimentoIndex_Accordion {
    display: flex;
    border: unset;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-left: calc(100% - 80px);
}

#btnInserirAtendimentoIndex_Accordion:focus {
    outline: 0;
}

.cssInserirAtendimentoIndex_Filtro_Container {
    width: 95%;
    margin: auto;
    padding: 0 20px 0;
    margin-bottom: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max=height 0.4s ease-in-out;
}

#btnInserirAtendimentoIndex_Procurar {
    width: 100px;
    margin-left: calc(100% - 100px);
}

#frmInserirAtendimentoIndex_Filtro{
    z-index: 0;
}

.cssInserirAtendimentoIndex_lblFiltros {
    padding: 5px 0;
    color: #425366;
    font-weight: 600;
}

/*#endregion Filtros*/

/*#region Containers*/
.cssInserirAtendimentoIndex_Box {
    width: 60%;
    display: flex;
    background-color: #FBF3F3;
    margin: 10px 0;
    border: 1px solid rgba(66, 83, 102, 0.4);
    box-shadow: 1px 1px 10px rgba(66, 83, 102, 0.7);
    border-radius: 20px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.cssInserirAtendimentoIndex_Box_Botoes {
    width: 60%;
    display: flex;
    margin: 10px 0;
    height: 80px;
    align-items: center;
}

.cssInserirAtendimentoIndex_Box.cssInserirAtendimentoIndex_TextArea {
    height: auto;
    flex-direction: column;
    padding: 15px 0;
}

.cssInserirAtendimentoIndex_Box_Label {
    color: #425366;
    font-weight: 600;
    margin: 0 25px 0 0;
    word-wrap: break-word;
    width: 129px;
}

.cssInserirAtendimentoIndex_Box_Label.cssInserirAtendimentoIndex_TextArea_Label {
    padding: 10px 0;
}

#txtInserirAtendimento_Observacoes {
    width: 80%;
    min-height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(66, 83, 102, 0.8);
    box-shadow: 1px 1px 10px rgba(66, 83, 102, 0.7);
}

.cssInserirAtendimentoIndex_Box_Componente {
    width: 250px;
}

#btnIndex_Salvar {
    width: 215px;
    padding: 10px 0;
    margin: 20px 0 0 0;
    margin-left: calc(100% - 430px);
}

#btnIndex_Limpar {
    width: 215px;
    padding: 10px 0;
    margin: 20px 0 0 0;
    background-color: #D91C1C !important;
}

/*#endregion Containers*/